@use '../../assets/colors' as c;

.start__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  .start__text {
    font-size: 4rem;
    height: 100%;
    text-align: center;
  }
  .button__start__container {
    display: flex;
    justify-content: center;
    align-items: center;

    .button__start {
      font-family: "Bebas Neue", cursive;
      width: 20rem;
      height: 5rem;
      font-size: 2.5rem;
      color: c.$white;
      background-color: c.$blue;
      border-radius: 2rem;
      border: none;
    }
    :hover {
      cursor: pointer;
    }
  }
}
