@use '../assets/colors' as c;

* {
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: c.$white;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
}
