.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 95vh;

  .country {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .line {
    height: 100%;
    width: 0.6rem;
    background-color: #242582;
  }

  .score__wrapper {
    width: 10rem;
    height: 3rem;
    background-color: #242582;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;

    .score__text {
      font-size: 1.5rem;
      color: #ffffff;
      width: 100%;
      height: 100%;
      text-align: center;
      display: inline-block;
    }
  }
  .score {
    right: 0;
    border-bottom-left-radius: 2rem;
  }
  .highscore {
    left: 0;
    border-bottom-right-radius: 2rem;
  }
}
