.country__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .country__name {
    font-size: 2rem;
  }

  h2 {
    margin-top: 10rem;
  }

  .country__population {
    margin-top: 1rem;
    font-size: 3rem;
  }
}

@media (max-width: 650px) {
  .country__container {
    .country__name {
      font-size: 1.5rem;
    }

    h2 {
      margin-top: 15rem;
      font-size: 1.8rem;
    }

    .country__population {
      font-size: 2.2rem;
    }
  }
}

@media (max-width: 450px) {
  .country__container {
    .country__name {
      font-size: 1.3rem;
    }

    h2 {
      margin-top: 17rem;
      font-size: 1.5rem;
    }

    .country__population {
      font-size: 2rem;
    }
  }
}
