@use '../../assets/colors' as c;

.answer__container {
  width: 20%;
  height: 15rem;
  border-radius: 3rem;
  display: flex;
  background-color: c.$blue;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .answer__text__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0.5rem 0 0.5rem;

    .answer__text {
      text-align: center;
      font-size: 1.6rem;
      color: c.$white;
    }
    .answer__span {
      font-weight: bold;
      font-size: 120%;
    }

    .answer__span--red {
      color: c.$red;
    }

    .answer__span--green {
      color: c.$green;
    }
  }

  .answer__btn__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    .answer__btn {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 3rem;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      i {
        margin: 0;
        color: #ffffff;
      }
    }

    :hover {
      cursor: pointer;
    }

    .answer__btn--lower {
      background-color: c.$red;
    }

    .answer__btn--higher {
      background-color: c.$green;
    }
  }
}

@media (max-width: 1100px) {
  .answer__container {
    .answer__text__container {
      .answer__text {
        font-size: 1.3rem;
      }
    }
    .answer__btn__container {
      .answer__btn {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .answer__container {
    .answer__text__container {
      .answer__text {
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 650px) {
  .answer__container {
    height: 13rem;
    width: 25%;
    .answer__text__container {
      .answer__text {
        font-size: 1.1rem;
      }
    }
    .answer__btn__container {
      .answer__btn {
        width: 2.7rem;
        height: 2.7rem;
      }
    }
  }
}

@media (max-width: 450px) {
  .answer__container {
    height: 13rem;
    width: 45%;
    .answer__text__container {
      .answer__text {
        font-size: 1.2rem;
      }
    }
    .answer__btn__container {
      .answer__btn {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
