@use '../../assets/colors' as c;

.answer__container {
  width: 22rem;
  height: 15rem;
  border-radius: 3rem;
  display: flex;
  background-color: c.$blue;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .answer__text {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
      font-size: 1.6rem;
      color: c.$white;

      .answer__span {
        font-weight: bold;
        font-size: 2.2rem;
      }

      .answer__span--red {
        color: c.$red;
      }

      .answer__span--green {
        color: c.$green;
      }
    }
  }

  .answer__btn__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    .answer__btn {
      width: 4rem;
      height: 4rem;
      border-radius: 3rem;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      i {
        margin: 0;
        color: #ffffff;
      }
    }

    :hover {
      cursor: pointer;
    }

    .answer__btn--lower {
      background-color: c.$red;
    }

    .answer__btn--higher {
      background-color: c.$green;
    }
  }
}
